.navbar {
    grid-area: n;
    background-color: #000000e1;
    /* background-color: #1a1919; */
    min-width: 160px;
    max-width: 180px;
    min-height: 600px;
    padding: 10px 10px;
    text-align: center;
}