.fon {
   position: relative;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-areas: "d m";

    margin: 0;
    padding: 0;
    height: 620px;
    width: 1330px;
    z-index: 1;
}

.fon img {
    margin: 0;
    padding: 0;
    height: 619px;
    width: 1340px;
} 